/* 
div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}
form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  background-color: rgb(136, 201, 217);
  height: 220px;
  width: 170px;
  border-radius: 21px;
  box-shadow: rgba(15, 113, 11, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input{
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 19px;
  font-size: 11px;
  height: 15px;
  line-height: 30px;
}
input::placeholder{
  color: gray;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
}
button{
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(232, 226, 198);
  box-shadow: rgba(239, 216, 216, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

} */
/* 
#parent_div{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#card{
  height: 201px;
  width: 151px;
  border-radius: 21px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(24, 237, 9);
}
img{
  height: 100%;
  width: 100%;
} */
/* 
#nav{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
}
li{
  color: snow;
} */

button{
  background-color: blue;
}